<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DA7e00aee1da8155c5dcb749dcd1264b"></script>
<script type="text/javascript" src="{{ asset('bundles/jxxq/jquery-1.8.3.min.js')}}"></script>
<title>万吉工程机械</title>
</head><?php ?>
<body>
<script type="text/javascript">
$(function(){
		var zb = $("#zb").val();
		var location = zb.split(",");
		// 百度地图API功能
		var map = new BMap.Map("allmap");
		map.centerAndZoom(new BMap.Point(location[0],location[1]), 15);
		var marker1 = new BMap.Marker(new BMap.Point(location[0],location[1]));  // 创建标注
		map.addOverlay(marker1);              // 将标注添加到地图中
		map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
		map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
		map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
});	
</script>
<style type="text/css">
body, html, #allmap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin:0;
}

</style>
</head>
<body>
<input type="hidden" value="{{ location }}" id="zb"/>
<div id="allmap"></div>
</body>
</html>

