<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="">
		<script type="text/javascript" src=""></script>
	</head>
	<body>
		<div id="all" style="background:#ccc;">
			<input type="text" style="background-color:transparent"/>
		</div>
		<script>
				
		</script>
	</body>
</html>

网站通用：
	onfocus="this.blur()";  					//input框不可编辑
	imglist = imglist.replace("|"+obj,"");  	//替换函数、后面替换前面的东西
	onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"  			//只能输入数字
	
	
	<div style="text-align: center;overflow:hidden;">
	<div style="text-align: left;float:left;">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="" src="/uploads/allimg/131204/1-1312041U0444Z.png" style="width: 350px; height: 623px;" /></div>
	<div style="float:left;margin-top:500px;margin-left:30px;">
		<div style="float:left;height:200px;width:150px;">
			<img alt="" src="/uploads/allimg/140224/1-14022414434Q39.png" style="width: 150px; height: 150px;" /><span style="margin-left:35px;">安卓手机下载</span></div>
		<div style="width:40px;float:left;">
			&nbsp;</div>
		<div style="float:left;height:200px;width:150px;float:left;">
			<img alt="" src="/uploads/allimg/140224/1-140224144323603.png" style="width: 150px; height: 150px;" /><span style="margin-left:35px;">苹果手机下载</span></div>
		<div>
			&nbsp;</div>
	</div>
</div>
<br />



















