<!DOCTYPE HTML>
<html>
<body>

<form action="/app_dev.php/login_check" method="post">
_csrf_token<input type="text" name="_csrf_token"/>
_username<input type="text" name="_username"/>
_password<input type="text" name="_password"/>
_remember_me<input type="checkbox" checked name="_remember_me"/>

<button value="">login</button>
</form>

<form action="/login_check" method="post">
_csrf_token<input type="text" name="_csrf_token"/>
_username<input type="text" name="_username"/>
_password<input type="text" name="_password"/>
_remember_me<input type="checkbox" checked name="_remember_me"/>

<button value="">login</button>
</form>
</body>
</html>