{% extends 'YdzyAdminBundle:Default:layout.html.twig' %}
{% block body %}
<script>
function saverole(){
	var role_id = $("#rolelist").val();
	var uid = $("#userlist").val();
	var json = {
			'roleid':role_id,
			'uid':uid
	};
		
	    ajaxPost(
	             'app_dev.php/changeprofilebyid',
	             json,
	             function(data, textStatus){
	            	    alert("成功");
	             },
	             function(XMLHttpRequest, textStatus, errorThrown){}
	         );
}
function del(id){
var json = {
		'id':id
};
	
    ajaxPost(
             'app_dev.php/manage/delFos',
             json,
             function(data, textStatus){
            	    $("#td"+id).remove();
             },
             function(XMLHttpRequest, textStatus, errorThrown){}
         );
}

$(function(){
	var json = {};
	
    ajaxPost(
             'app_dev.php/manage/getAllUserByRole',
             {},
             function(data, textStatus){
            	 for(var i=0;i<data.length;i++){
  				   $("#list").append("<tr id='td"+data[i].id+"'><td>"+data[i].id+"</td><td>"+data[i].username+"</td><td>"+data[i].phone+"</td><td>"+data[i].name+"</td><td><a href='updatemanage/"+data[i].id+"'>修改</a>/<a href='#' onclick='del("+data[i].id+")'>删除</a></td></tr>"); 
  		      }//结束循环
                 },
             function(XMLHttpRequest, textStatus, errorThrown){}
         );
              
});//function 主函数结束

</script>
 <a href='addmanage'><button type="button" class="btn col-sm-1 btn-default" id="in_btn" >新增</button></a>
 
  <div class="col-sm-12" id="" style="margin-top:15px; padding:0;">
            <table class="table table-hover">
          	<thead>
          	<tr>
          	<th>ID</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>分组</th>
        	<th>操作</th>
            </tr>
          	</thead>
          	<tbody id="list"></tbody>	
            </table>
          
  </div>
  	  
</div> <!--content结束-->


{% endblock %}