{% extends 'YdzyAdminBundle:Default:layout.html.twig' %}
{% block body %}
<script>
var KEYWORD = "";
var START = 0;
</script>

<style>
</style>
<script src="{{ asset('js/page.js') }}"></script>
<script>
var domain = "http//eie.club/";
function reloadList(current){
	$("#order_list").html("");
	var current = current;
	page(current);
  	var json = {
  		  	'start':START,
  		  	'num':20,
  		  	'keyword':KEYWORD
			};
  	ajaxPost(
            'api/recommended/retrieveByFilter',
            json,
            function(data, textStatus){
            	for(var i=0;i<data.length;i++){
                	 $("#order_list").append("<tr id='"+data[i].id+"'><td><img src='"+data[i].image_url+"' width='75'/></td><td>"+data[i].id+"</td><td>"+data[i].title+"</td><td>"+data[i].price+"</td><td>"+data[i].category+"</td><td><a href='#' onclick='del("+data[i].id+")'>删除</a>/<a href='#' onclick='detailInfo("+data[i].id+")'>详情</a>/<a href='updategoods/"+data[i].id+"'>编辑</a></td></tr>"); 
		      }//结束循环
				},
            function(XMLHttpRequest, textStatus, errorThrown){}
        );
}
function detailInfo(id){
	location.href="goodsdetail/"+id;
}
function del(id){
	
	var json = {
			"recommended_id":id
			};
	ajaxPost(
            'app_dev.php/api/recommended/del',
            json,
            function(data, textStatus){
            	$("#"+id).remove();
				},
            function(XMLHttpRequest, textStatus, errorThrown){}
        );
}
$(function(){
reloadList(0);
//搜索
$("#search_btn").click(function(){
	var keyword = $("#search_box").val();
	KEYWORD = keyword;
	//alert(KEYWORD);
	reloadList(0);
	});
$("#add_btn").click(function(){
	location.href="addgoods";
	});
document.getElementById("search_box").onkeyup = function(e){
				var me = this;
				e = e|| window.event;
				var keycode = e.keyCode;
				if(keycode === 13){
				var keyword = $("#search_box").val();
				KEYWORD = keyword;
				reloadList("",0);
				}
			};

});//function 主函数结束

function print_array(arr){
	for(var key in arr){
		if(typeof(arr[key])=='array'||typeof(arr[key])=='object'){//递归调用  
			print_array(arr[key]);
		}else{
			document.write(key + ' = ' + arr[key] + '<br>');
		}
	}
}
</script>
 
  <div class="col-sm-12" id="" style="margin-top:15px; padding:0;">
    <div class="col-sm-12"><div class="col-sm-6"><input type="text" id="search_box" class="form-control" onKeyUp="search_box();" maxlength="100" autocomplete="off" placeholder="关键词搜索"></div><div><button type="button" class="btn col-sm-1 btn-default" id="search_btn" >搜索</button></div>
    <div><button type="button" class="btn col-sm-1 btn-default" id="add_btn" >添加</button></div>
    
    </div>
    
    <div style="padding-top:20px;" class="col-sm-12">
    <table class="table table-hover">
  	<thead>
  	<tr>
    <th>封面图</th>
    <th>商品编号</th>
    <th width="40%">标题</th>
    <th>价钱</th>
    <th>类别</th>
	<th>操作</th>
    </tr>
  	</thead>
  	<tbody id="order_list"></tbody>	
    </table>
    </div>
  	
  </div>
  
  
  <div class="col-sm-12"  style="padding-top:30px;" align="center"> <!--分页开始-->
  <ul class="pagination" id="pagebar"></ul>
    <input type="hidden" id="currentPage" style="width:500px;"/>
    </div><!--分页结束-->
</div> <!--content结束-->
{% endblock %}